@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 100px;
  --pa-pink: #FF89DE;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - var(--header-height));
}

.text-underline {
  position: relative;
}

.text-underline:after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #000;
  display: block;
  position: absolute;
  bottom: 4px;
}

.text-underline:hover:after {
  border-color: var(--pa-pink);
}

.pa--hero {
  padding-bottom: var(--header-height);
}